<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTRPG Website</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <header>
        <h1>TTRPG Website</h1>
    </header>

    <nav>
        <a href="#home">Home</a>
        <a href="#characters">Characters</a>
        <a href="#campaigns">Campaigns</a>

        {{#if loggedIn}}
            <a href="/dashboard" class="username-btn">{{ username }}</a>
            <a href="/auth/logout" class="loginLink">Logout</a>
        {{else}}
            <a href="/login-register" class="loginLink">Login</a>
        {{/if}}
    </nav>

    <main>
        <h2>TTRPG Website</h2>
        <p>ADD SHIT HERE LATER</p>
    </main>

    <footer>
    </footer>

</body>
</html>
